@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add Kalam font */

/* Inter (already added) */
